.site-contact{
  padding: 150px 0 100px;
  background: $gray;
  @include mobile{
    padding: 120px 0 100px;
  }
  &-title{
    font-weight: 700;
    @include tablet{
      font-size: 40px;
    }
    span{
      color: $primary-color;
    }
  }
  &-form{
    margin-top: 20px;
    h4{
      font-weight: 300;
      text-transform: uppercase;
      margin-bottom: 50px;
      letter-spacing: 3px;
      @include tablet{
        font-size: 20px;
      }
      @include desktop{
        margin-bottom: 70px;
      }
    }
    li{
      font-size: 30px;
      font-family: "Montserrat", san-serif;
      font-weight: 150;
      margin-bottom: 15px;
      letter-spacing: 2px;
      color: $primary-color;
      a{
        padding-left: 20px;
        text-decoration: none;
        color: $secondary-color;
      }
    } 
  }
}